.product {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-grid {
  width: 100%;
  max-width: 1200px;   
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

.no-products {
  text-align: center;
  margin-top: 40px;
}